{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MiPartido</title>
    <link rel="stylesheet" href="{% static 'futbol/style.css' %}">
    <script defer src="{% static 'futbol/script.js' %}"></script>
</head>
<body>
    <h1 class="titulo-centro">MI PARTIDO</h1>
    <table id="tabla-partidos">
        <thead>
            <tr>
                <th>Equipo A</th>
                <th></th>
                <th>Equipo B</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Se llenará dinámicamente -->
        </tbody>
    </table>
    <div class="botones-abajo">
        <a href="{% url 'equipos' %}">
            <button>Ingresar Partido</button>
        </a>
        <a href="{% url 'contacto' %}">
            <button>Contacto</button>
        </a>
    </div>
</body>
</html>
